<div class="nurse-management-container" >
  <div class="filter-container">
    <div>
      <app-datepicker-custom-header
        [label]="datePickerTitle"
        [startDateAt]="dateInitialValue"
        (OnChangeValue)="OnDateChangeValue($event)">
      </app-datepicker-custom-header>
    </div>
    <div class="margin-left-20px">
      <app-custom-input-search-field
        (OnTextXhanged)="OnSearchTextChanged($event)">
      </app-custom-input-search-field>
    </div>
  </div>
  <div class="table-patient-container">
    <app-nurse-shift-table></app-nurse-shift-table>
  </div>
  <div class="footer-container">
    div para foo
  </div>
</div>
