<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="showAllFieds">
    <mat-form-field >
      <input placeholder="{{action}} Name" matInput [(ngModel)]="localData.name">
    </mat-form-field>
    <p></p>
    <app-datepicker-custom-header
      [startDateAt]="localData.date"
      [label]="shiftDateLabel"
      (OnChangeValue)="OnDateChangeValue($event)"></app-datepicker-custom-header>
    <p></p>
    <mat-form-field >
      <input placeholder="{{action}} Name" matInput [(ngModel)]="localData.name">
    </mat-form-field>
  </div>
  <div *ngIf="!showAllFieds">
      Sure to delete <b>{{localData.name}}</b>?
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>


<!--id, name, date, swift work update and insert-->
<!--delete show name -->
