/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$body-height:100%;

html {
  height: $body-height;
}

body {
  margin: 0%;
  height: $body-height;
  min-height: $body-height;
}
