.background-image {
  background-image: url('/assets/nurse-image.jpeg')  ;
  width: 100%;
    /* Half height*/
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.background-default-color {
  height: 70%;
  width: 100%;
}
